@import "styles";
:host {
  align-items: stretch;
  display: grid;
  justify-content: stretch;
  @extend .transition-base;
}
.input-container {
  align-items: stretch;
  display: grid;
  justify-content: stretch;
  max-height: 2.85em;
  position: relative;
}
.input-element {
  @extend .neo-input;
  @extend .neo-shadow-inset;
  &[type="password"] {
    letter-spacing: 0.2em;
  }
}
.input-icon {
  height: 1.2em;
  justify-self: start;
  margin-right: 0.3em;
  width: 1.2em;
}
.input-placeholder-container {
  align-items: center;
  display: grid;
  font-style: italic;
  font-weight: 400;
  grid-template-columns: auto 1fr;
  left: 0.7em;
  opacity: 0.7;
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.input-eye-icon {
  align-self: center;
  cursor: pointer;
  height: 1em;
  justify-self: end;
  -webkit-tap-highlight-color: transparent;
  margin-left: 0.3em;
  position: absolute;
  right: 0.7em;
  width: 1.2em;
  z-index: 1;
}
.input-placeholder {
  font-style: inherit;
  font-weight: inherit;
  justify-self: start;
}
.input-error-text {
  color: var(--error-color);
  display: none;
  font-size: 0.7em;
  font-weight: 400;
  margin-top: 0.5em;
}
.input-element.focused ~ .input-placeholder-container,
.input-element.notEmpty ~ .input-placeholder-container {
  font-style: normal;
  font-weight: 500;
  left: 0;
  opacity: 1;
  top: 0;
  transform: translateY(-130%);
  //.input-icon {
  //  display: block;
  //}
}
.input-element:invalid ~ .input-error-text {
  display: block;
}

