<div class="input-container">
  <input #inputElement
         (blur)="focused.set(false)"
         (focus)="focused.set(true)"
         (input)="notEmpty.set(inputElement.value.trim() !== '')"
         [class.focused]="focused()"
         [class.notEmpty]="notEmpty()"
         [type]="inputType()"
         class="input-element">
    <svg (click)="togglePassword()"
         *ngIf="typeInput === 'password' && notEmpty()"
         class="input-eye-icon">
    <svg>
  <use [attr.href]="inputType() === 'password' ? 'assets/icons/user-eye-icon.svg#user-eye-icon' : 'assets/icons/user-eye-off-icon.svg#user-eye-off-icon'"></use>
</svg>
    </svg>
  <div class="input-placeholder-container">
    <svg class="input-icon">
      <use [attr.href]="iconPath"></use>
    </svg>
    <label class="input-placeholder">
      {{notEmpty() || focused() ? placeholder.description : placeholder.action}}
    </label>
  </div>
  <label class="input-error-text">Valeriu</label>
</div>

