<div class="input-container">
  <input
    (blur)="onBlur()"
    (focus)="onFocus()"
    (ngModelChange)="onValueChange($event)"
    [autocomplete]="autocomplete()"
    [class.empty]="empty()"
    [class.showFloatedPlaceholder]="showFloatedPlaceholder()"
    [class.focused]="focused()"
    [ngModel]="value()"
    [type]="inputTypeSignal()"
    class="input-element">
  @if (eyeIconIsVisible()) {
    <svg (click)="togglePasswordVisibility()"
      class="input-eye-icon">
    <use [attr.href]="inputType() === 'password' ? 'assets/icons/user-eye-icon.svg#user-eye-icon' : 'assets/icons/user-eye-off-icon.svg#user-eye-off-icon'"></use>
  </svg>
  }
  <div class="input-placeholder-container">
    <svg [class.invisible]="iconPath() === '' || iconPath() === null || !showFloatedPlaceholder()"
         class="input-icon">
      <use [attr.href]="iconPath()"></use>
    </svg>
    <label class="input-placeholder">
      {{(!empty() || focused()) && showFloatedPlaceholder() ? placeholder().description : placeholder().action}}
    </label>
  </div>
<label class="input-error-text">
   {{inputErrorHint()}}
  </label>
</div>
