@import "styles";
.neo-toggle-btn {
  @extend .neo-shadow-inset;
  border-radius: 1.5em;
  display: grid;
  min-width: 10.5em;
  padding: 0.3em 1em;
  position: relative;
  .toggle-circle {
    border-radius: 50%;
    box-shadow: var(--base-shadow);
    box-sizing: border-box;
    display: flex;
    height: 1.7em;
    justify-content: center;
    left: -6%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    @extend .transition-base;
    width: 1.8em;
    .toggle-icon {
      @extend .transition-base;
      background-color: var(--info-color);
      border-radius: 50%;
      display: block;
      margin: 20%;
      -webkit-mask: url("/assets/icons/dark-icon.svg");
      mask: url("/assets/icons/dark-icon.svg");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: contain;
      pointer-events: none;
    }
  }
  .toggle-label {
    animation: change-align-right 0.3s ease-in-out forwards;
    left: 65%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  &[currentTheme="light"] {
    .toggle-circle {
      left: calc(100% - 1.2em);
      .toggle-icon {
        background-color: var(--warning-color);
        -webkit-mask: url("/assets/icons/light-icon.svg");
        mask: url("/assets/icons/light-icon.svg");
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: contain;
      }
    }
    .toggle-label {
      animation: change-align-left 0.3s ease-in-out forwards;
      left: 35%;
      transform: translate(-50%, -50%);
    }
  }
}
@keyframes change-align-left {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes change-align-right {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
