@import "styles";
.container {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  border-radius: 1.2em;
  box-shadow: var(--base-hover-shadow);
  display: grid;
  grid-template-areas: "sign-in sign-out" "footer-Theme footer-Language";
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: 1fr min-content;
  margin: 10% 15%;
}
.valeriu.ng-invalid.ng-touched {
  border: red 1px solid
}
form{
  display: grid;
  grid-area: sign-in;
  grid-gap: 3rem;
  grid-template-rows: 1fr auto auto 1fr;
  position: relative;
}
.sign-in-toggle-theme-btn {
  align-self: start;
  grid-area: footer-Theme;
  justify-self: start;
  margin: 0.5em;
}
//.sign-in-container {
//  grid-area: sign-in;
//  backdrop-filter: blur(10px);
//  background: transparent;
//  box-shadow: var(--base-shadow);
//  border-radius: 1.2em;
//  @extend .transition-all;
//  &.clicked {
//    transform: translate(100%, 0); /* Mută în poziția corespunzătoare */
//  }
//}

.sign-in-text {
  align-self: center;
  justify-self: center;
  text-align: center;
  text-wrap: pretty;
}
.sign-in-btn {
  @extend .neo-btn;
  @extend .neo-shadow-base;
  @extend .transition-base;
  min-width: 10em;
}
