@import 'mixins';
$theme-colors: (
  primary-color: #5d9cec,
  error-color: tomato,
  success-color: #4CAF50,
  warning-color: #FFC107,
  info-color: #77B6EA,
);
$data-theme-dark: (
  top-shadow: #FFFFFF35,
  bottom-shadow: #00000080
);
$data-theme-light: (
  top-shadow: #FFFFFF40,
  bottom-shadow: #00000080
);
[data-theme="dark"] {
  --background-image: url('/assets/icons/dark-background-image.png');
  --background-color: #3a3842;
  --text-main-color: #F5F5F5;
  --text-muted-color: #AAB8C2;
  @include generate-colors-theme($theme-colors, 1, true);
  @include generate-shadows(
      map-get($data-theme-dark, top-shadow),
      map-get($data-theme-dark, bottom-shadow)
  );
}
[data-theme="light"] {
  --background-image: url('/assets/icons/light-background-image.png');
  --background-color: #D5DEEA;
  --text-main-color: #080808;
  --text-muted-color: #6A8395;
  @include generate-colors-theme($theme-colors, 1, false);
  @include generate-shadows(
      map-get($data-theme-light, top-shadow),
      map-get($data-theme-light, bottom-shadow)
  );
}
;

