@mixin generate-shadows($top-shadow, $bottom-shadow) {
  --base-shadow: -0.1em -0.1em 0.35em #{$top-shadow},
  0.1em 0.1em 0.35em #{$bottom-shadow},
  -0.1em -0.1em 0.35em #{$top-shadow},
  0.1em 0.1em 0.35em #{$bottom-shadow};
  --inset-shadow: -0.1em -0.1em 0.35em #{$top-shadow},
  0.1em 0.1em 0.35em #{$bottom-shadow},
  inset -0.2em -0.2em 0.35em #{$top-shadow},
  inset 0.2em 0.2em 0.35em #{$bottom-shadow},
  -0.1em -0.1em 0.35em #{$top-shadow},
  0.1em 0.1em 0.35em #{$bottom-shadow};
  --base-hover-shadow: -0.2em -0.2em 0.35em #{$top-shadow},
  0.2em 0.2em 0.35em #{$bottom-shadow},
  -0.1em -0.1em 0.35em #{$top-shadow},
  0.1em 0.1em 0.35em #{$bottom-shadow};
  --inset-hover-shadow: -0.2em -0.2em 0.35em #{$top-shadow},
  0.2em 0.2em 0.35em #{$bottom-shadow},
  inset -0.35em -0.35em 0.35em #{$top-shadow},
  inset 0.35em 0.35em 0.35em #{$bottom-shadow},
  -0.1em -0.1em 0.35em #{$top-shadow},
  0.1em 0.1em 0.35em #{$bottom-shadow};
  --base-active-shadow: -0.05em -0.05em 0.35em #{$top-shadow},
  0.05em 0.05em 0.35em #{$bottom-shadow},
  -0.1em -0.1em 0.35em #{$top-shadow},
  0.1em 0.1em 0.35em #{$bottom-shadow};
  --inset-active-shadow: -0.05em -0.05em 0.35em #{$top-shadow},
  0.05em 0.05em 0.35em #{$bottom-shadow},
  inset -0.1em -0.1em 0.35em #{$top-shadow},
  inset 0.1em 0.1em 0.35em #{$bottom-shadow},
  -0.1em -0.1em 0.35em #{$top-shadow},
  0.1em 0.1em 0.35em #{$bottom-shadow};
}
@mixin generate-colors-theme($theme-map, $percentage, $isDarken) {
  @each $name, $color in $theme-map {
    --#{$name}: #{if($isDarken, lighten($color, $percentage), darken($color, $percentage))
    };
  }
}
@mixin color-mix-background($color, $percentage-color, $percentage-transparent) {
  background: color-mix(in srgb, #{$color} #{$percentage-color}, transparent #{$percentage-transparent});
}
@mixin responsive-font($phone: 0.775rem, $tablet: 0.8375rem, $laptop: 0.9rem, $desktop: 1.05rem) {
  font-size: $laptop;
  @media (max-width: 480px) {
    font-size: $phone;
  }
  @media (min-width: 481px) and (max-width: 768px) {
    font-size: $tablet;
  }
  @media (min-width: 1025px) {
    font-size: $desktop;
  }
}
@mixin apply-shadow($shadow-type, $isUsingActive: true) {
  &:hover,
  &:focus-visible {
    box-shadow: var(--#{$shadow-type}-hover-shadow);
  }

  @if $isUsingActive {
    &:active {
      box-shadow: var(--#{$shadow-type}-active-shadow);
    }
  }
}

