@import "mixins";
@import "fonts";
@import "colors";
* {
  background: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &::selection {
    background: var(--info-color);
  }
}
html, body {
  color: var(--text-main-color);
  font-family: "Custom", sans-serif;
  font-style: normal;
  font-weight: 500;
  @extend .transition-base
}
body {
  background-image: var(--background-image);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  @include responsive-font();
}
app-root,
router-outlet + * {
  display: grid;
  height: 100vh;
  position: relative;
  width: 100vw;
}
h1 {
  @extend .transition-base;
}
.neo-btn-base {
  align-self: center;
  border: none;
  border-radius: 0.5em;
  box-shadow: var(--base-shadow);
  color: inherit;
  cursor: pointer;
  display: grid;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  justify-self: center;
  outline: none;
  padding: 0.7em 1em;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  user-select: none;
  &:disabled {
    @extend .disabled;
  }
}
.neo-btn {
  @extend .transition-base;
  @extend .neo-btn-base;
  box-shadow: var(--base-shadow);
}
.neo-input-base {
  border: none;
  border-radius: 0.5em;
  box-shadow: var(--inset-shadow);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  outline: none;
  padding: 0.7em 1em;
  -webkit-tap-highlight-color: transparent;
  text-align: left;
  &:disabled {
    @extend .disabled;
  }
  &::placeholder {
    color: var(--text-muted-color);
    font-size: inherit;
    font-style: italic;
    font-weight: inherit;
  }
}
.neo-input {
  @extend .transition-base;
  @extend .neo-input-base;
  box-shadow: var(--inset-shadow);
}
.neo-shadow-base {
  @include apply-shadow("base");
}
.neo-shadow-inset {
  @include apply-shadow("inset", false);
}
.transition-base {
  transition-duration: 0.3s, 0s;
  transition-property: all, letter-spacing;
  transition-timing-function: ease-in-out, ease-in-out;
}
.disabled {
  color: var(--text-muted-color);
  cursor: default;
  opacity: 0.7;
  pointer-events: none;
}
