@import 'mixins';
@import 'fonts';
@import 'colors';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
}
html, body {
  font-family: 'Custom', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: var(--text-main-color);
  @extend .transition-base
}
body {
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  @include responsive-font();
}
h1 {
  @extend .transition-base;
}
app-root,
router-outlet + * {
  display: grid;
  width: 100vw;
  height: 100vh;
}
.neo-btn-base {
  border: none;
  display: grid;
  padding: 0.7em 1em;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
  justify-self: center;
  align-self: center;
  cursor: pointer;
  outline: none;
  border-radius: 0.5em;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: var(--base-shadow);
  &:disabled {
    @extend .disabled;
  }
}
.neo-btn {
  @extend .neo-btn-base;
  box-shadow: var(--base-shadow);
}
.neo-toggle-btn {
  @extend .neo-btn-base;
  box-shadow: var(--inset-shadow);
}
.neo-input-base {
  border: none;
  padding: 0.7em 1em;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  text-align: left;
  outline: none;
  border-radius: 0.5em;
  box-shadow: var(--inset-shadow);
  -webkit-tap-highlight-color: transparent;
  &:disabled {
    @extend .disabled;
  }
  &::placeholder {
    font-style: italic;
    font-size: inherit;
    font-weight: inherit;
    color: var(--text-muted-color);
  }
  &::selection {
    background: var(--info-color);
  }
}
.neo-input {
  @extend .neo-input-base;
  box-shadow: var(--inset-shadow);
}
.neo-shadow-base {
  @include apply-shadow('base');
}
.neo-shadow-inset {
  @include apply-shadow('inset');
}
.transition-base {
  transition: all 0.3s ease-in-out;
}
.disabled {
  color: var(--text-muted-color);
  cursor: default;
  opacity: 0.7;
  pointer-events: none;
}
